<div>
    <div class="Header">
        <p>Tasks List</p>
    </div>
    <div [ngStyle]="{
        'display': 'grid',
        'width': '100%',
        'grid-template-rows': 'repeat('+ Rows +', 3.5rem)',
        'grid-template-columns': 'repeat(4, 1fr)',
        'padding': '1rem 0.5rem 0rem 0.5rem',
        'row-gap': '2.5px'
    }">
        <div class="Head">
            <div class="first">
                <p>Task</p>
            </div>
            <div class="second">
                <p>Priority</p>
            </div>
            <div class="third">
                <p>Status</p>
            </div>
            <div class="four">
                <p>Time left</p>
            </div>
        </div>
        <div *ngFor="let task of Tasks; index as i;" [style.grid-area]="Span(i)" [class]="task.active ? 'TaskWrapper TaskWrapperActive' : 'TaskWrapper'" (click)="SetActiveTask(task.name, i)" >
            <div class="first">
                <div [class]="task.active ? 'border': 'nonborder'"></div>
                <p> {{ task.name }} </p>
            </div>
            <div class="second">
                <i [class]="task.priority"></i>
            </div>
            <div class="third" >
                <div [class]=" task.active ? (PopClass ? 'alertWrapper alertActive' : 'alertWrapper') : 'alertWrapper'" >
                    <p class="alertHeader">Cannot run multiple task at a time</p>
                </div>
                <i [class]="task.active ? 'fas fa-pause-circle' : 'fas fa-play-circle' " (click)="SetTime(i,Timer.timer, task.active)"></i>
            </div>
            <div class="four">
                <p *ngIf="task.active;else nonActive" [style.color]="'#f66fb3'">{{ Timer.timer }}</p>
                <ng-template #nonActive><p>{{ task.leftTime }}</p></ng-template>
                <i (click)= "ModalCalled(Icon,task._id)" [class]="task.active ? 'fas fa-check' : 'fas fa-trash'" id="Check" #Icon></i>
            </div>
        </div>
    </div>
    <div class="BtnWrapper">
        <div class="BtnFinish" (click)="Called()" >
            <i class="fas fa-plus"></i>
            <p>Create new Task</p>
        </div>
    </div>
</div>
