<div>
  <div class="Header">
    <p>Tasks List</p>
  </div>

  <div class="Head">
    <div class="first">
      <p>Task</p>
    </div>
    <div class="second">
      <p>Priority</p>
    </div>
    <div class="third">
      <p>Status</p>
    </div>
    <div class="four">
      <p>Time left</p>
    </div>
  </div>

  <div class="TaskWrapper-outer">
    <div
        *ngFor="let task of Tasks; index as i"
        [class]="task.status === 'inProgress' ? 'TaskWrapper TaskWrapperActive' : 'TaskWrapper'"
        (click)="SetActiveTask(task.taskName, i)"
      >
        <div class="first">
          <div [class]="task.status === 'inProgress' ? 'border' : 'nonborder'"></div>
          <p>{{ task.taskName }}</p>
        </div>
        <div class="second">
          <ng-container [ngSwitch]="task.priority">
              <i [class]="High" *ngSwitchCase="PRIORITY.HIGH"></i>
              <i [class]="Med" *ngSwitchCase="PRIORITY.MEDIUM"></i>
              <i [class]="Low" *ngSwitchDefault></i>
          </ng-container>
        </div>
        <div class="third">
          <div
            [class]="
            task.status === 'inProgress'
                ? PopClass
                  ? 'alertWrapper alertActive'
                  : 'alertWrapper'
                : 'alertWrapper'
            "
          >
            <p class="alertHeader">Cannot run multiple task at a time</p>
          </div>
          <i
            [class]="task.status === 'inProgress' ? 'fas fa-pause-circle' : 'fas fa-play-circle'"
            (click)="SetTime(task._id, Timer.timer, task.status)"
          ></i>
        </div>
        <div class="four">
          <p *ngIf="task.status === 'inProgress'; else nonActive" [style.color]="'#f66fb3'">{{ Timer.timer }}</p>
          <ng-template #nonActive
            ><p>{{ task.timeLeft }}</p></ng-template
          >
          <i
            (click)="ModalCalled(Icon, task)"
            [class]="task.status === 'inProgress' ? 'fas fa-check' : 'fas fa-trash'"
            id="Check"
            #Icon
          ></i>
        </div>
      </div>
  </div>
  <div class="BtnWrapper">
    <div class="BtnFinish" (click)="Called()">
      <i class="fas fa-plus"></i>
      <p>Create new Task</p>
    </div>
  </div>
</div>
