<div id="optionWrapper">
    <div id="CollectionSelector">
        <div id="Weekly">
            <p>Weekly</p>
        </div>
        <div id="Monthly">
            <p>Monthly</p>
        </div>
        <div id="Yearly">
            <p>Yearly</p>
        </div>
    </div>
    <div id="TasksWrapper">
        <div id="TaskCard">
            <div id="Icon"><i class="fas fa-plus-circle"></i></div>
            <div id="Info">
                <p id="Header">Total Tasks</p>
                <p id="Text">100</p>
            </div>
        </div>
        <div id="TaskCard">
            <div id="Icon"><i class="fas fa-check-circle"></i></div>
            <div id="Info">
                <p id="Header">Complet. Task</p>
                <p id="Text">100</p>
            </div>
        </div>
        <div id="TaskCard">
            <div id="Icon"><i class="fas fa-times-circle"></i></div>
            <div id="Info">
                <p id="Header">Incomplet. Task</p>
                <p id="Text">100</p>
            </div>
        </div>
    </div>
    <div id="ChartWrapper">
        <canvas id="myChart"></canvas>
    </div>
</div>