/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0% 2.5% 0%;
  }
  .Header p {
    font-size: 36px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
  }
  #TaskCard {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 5%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 15px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0% 2.5% 0%;
  }
  .Header p {
    font-size: 36px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
  }
  #TaskCard {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 5%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 15px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0% 2.5% 0%;
  }
  .Header p {
    font-size: 25px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
  }
  #TaskCard {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 5%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 15px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 2% 0%;
  }
  .Header p {
    font-size: 25px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 2%;
  }
  #TaskCard {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 5%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 15px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2% 0% 2% 0%;
  }
  .Header p {
    font-size: 22px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 2%;
  }
  #TaskCard {
    width: 30%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 2%;
    margin-left: 1%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 10px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  #optionWrapper {
    width: 100%;
    height: 100%;
  }
  .Header {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2.5% 0% 2.5% 0%;
  }
  .Header p {
    font-size: 36px;
    color: #d9d9d9;
  }
  #CollectionSelector {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #fff;
  }
  .Selector {
    width: 20%;
    height: 3rem;
    box-shadow: 0 0 8px 0px #1b2838;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .Weekly {
    border-radius: 15px 0px 0px 15px;
  }
  .Yearly {
    border-radius: 0px 15px 15px 0px;
  }
  .SelectorActive {
    border: 2px solid #f66fb3;
    z-index: 1;
  }
  #TasksWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 4%;
  }
  #TaskCard {
    width: 25%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 12px 3px #1b2838;
    border-radius: 10px;
    /* border: 2px solid #f66fb3; */
    color: #f66fb3;
    margin-right: 5%;
  }
  #TaskCard #Icon {
    width: 30%;
    height: 100%;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #TaskCard #Info {
    width: 70%;
    height: 100%;
    text-align: center;
  }
  #Header {
    margin-top: 15px;
  }
  #Text {
    margin-top: 6px;
    font-weight: 600;
    color: #fff;
  }
  #BigWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  #ChartWrapper {
    width: 80%;
    margin: 3% 0% 0% 5%;
  }
  #ChartOption {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
    padding-right: 10px;
  }
  .chartWrapper {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px #1b2838;
    font-size: 20px;
    margin-right: 15px;
    cursor: pointer;
    color: #fff;
  }
  .chartactive {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper {
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
  }
  .items {
    width: 100%;
    height: 2.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    transition: display 0.5s ease-in-out;
  }
  .items:hover {
    border: 2px solid #f66fb3;
    color: #f66fb3;
  }
  #DropDownWrapper .fas {
    margin-right: 9px;
    font-size: 20px;
    margin-top: 4px;
  }
}
