<div>
    <div class="Header">
        <p>Previous Tasks List</p>
    </div>
    <div class="SearchWrapper">
        <div id="InputWrapper">
            <input type="text" placeholder="Search Task" [(ngModel)]="SearchedTaskName">
        </div>
        <div id="DropDownWrapper">
            <div (click)="DropDownClicked()" [ngStyle]="{
                'width': '6.5rem',
                'height': '2.5rem',
                'min-height': '2.5rem',
                'border-radius': '5px 5px 0px 0px',
                'box-shadow': toggle ? '0px -5px 10px 0px #1b2838' : '0 0px 8px 0px #1b2838',
                'z-index': 1,
                'display': 'flex',
                'justify-content': 'center',
                'align-items': 'center',
                'color': '#fff',
                'cursor': 'pointer' }">
                <div><i [class]="FilterIcon"></i></div>
                <div>{{FilterStatus}}</div>
            </div>
            <div [ngStyle]="{'width': '6.5rem',
                'height': '7.2rem',
                'border-radius': '0px 0px 5px 5px',
                'box-shadow': '0px 5px 10px 0px #1b2838',
                'z-index': toggle ? 1 : 0,
                'display': toggle ? 'initial': 'none',
                'background-color': '#2c3c56'
            }">
            <div class="items" (click)="SetFilterStatus('Normal','fas fa-arrow-alt-circle-right')">
                <div><i class="fas fa-arrow-alt-circle-right"></i></div>
                <div>Normal</div>
            </div>
            <div class="items" (click)="SetFilterStatus('High','fas fa-arrow-alt-circle-up')">
                <div><i class="fas fa-arrow-alt-circle-up"></i></div>
                <div>High</div>
            </div>
            <div class="items" (click)="SetFilterStatus('Low','fas fa-arrow-alt-circle-down')">
                <div><i class="fas fa-arrow-alt-circle-down"></i></div>
                <div>Low</div>
            </div>
            </div>
        </div>
    </div>
    <div [ngStyle]="{
        'display': 'grid',
        'width': '100%',
        'grid-template-rows': 'repeat('+ Rows +', 3.5rem)',
        'grid-template-columns': 'repeat(4, 1fr)',
        'padding': '1rem 0.5rem 0rem 0.5rem',
        'row-gap': '2.5px'
    }">
        <div class="Head">
            <div class="first">
                <p>Task Name</p>
            </div>
            <div class="second">
                <p>Priority</p>
            </div>
            <div class="third">
                <p>Date</p>
            </div>
            <div class="four">
                <p>Time</p>
            </div>
        </div>
        <div *ngFor="let task of Tasks; index as i;" [style.grid-area]="Span(i)" class="PrevTaskWrapper">
            <div class="first">
                <div [class]="task.status === 'Completed' ? 'completed': 'incompleted'"></div>
                <p> {{ task.name }} </p>
            </div>
            <div class="second">
                <i [class]="task.priority"></i>
            </div>
            <div class="third">
                <p>{{task.date}}</p>
            </div>
            <div class="four">
                <p [style.color]="'#bbb2cf'">{{ task.totalTime }}</p>
                <i class="fas fa-trash" (click)="Delete(task._id)" id="Check"></i>
            </div>
        </div>
    </div>
</div>