<div id="Main">
  <div class="ModalWrapper" *ngIf="ModalSelector.status === 'CompleteTask'">
    <div class="ModalInitial">
      <div class="Icon">
        <i class="fas fa-check-circle"></i>
      </div>
      <div class="ModalClose" (click)="PopUpModal()"><i class="fas fa-times-circle"></i></div>
      <div class="ModalHeader">
        <p>Have You Completed The Task ?</p>
        <div class="ModalText">
          <p>
            Proceding will terminate this task and mark it with the status of Completion. You cannot
            resume it again.
          </p>
        </div>
        <div class="ModalBtn" (click)="ModalAction('Completed')">
          <p>Done!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ModalWrapper" *ngIf="ModalSelector.status === 'TimeLimitCompleted'">
    <div class="ModalInitial">
      <div class="Icon">
        <i class="fas fa-exclamation-triangle"></i>
      </div>
      <div class="ModalHeader">
        <p>You have reached time limit !!!</p>
        <div class="ModalText">
          <p>
            Since you couldn't complete task within time limit, the task will be saved with the
            status of Failed !
          </p>
        </div>
        <div class="ModalBtn" (click)="ModalAction('TimesUp')">
          <p>Proceed</p>
        </div>
      </div>
    </div>
  </div>
  <div class="ModalWrapper" *ngIf="ModalSelector.status === 'RemoveTask'">
    <div class="ModalInitial">
      <div class="Icon">
        <i class="fas fa-exclamation-circle"></i>
      </div>
      <div class="ModalClose" (click)="PopUpModal()"><i class="fas fa-times-circle"></i></div>
      <div class="ModalHeader">
        <p>Do you wants to Delete this Task ?</p>
        <div class="ModalText">
          <p>Proceding will delete this task from Database. You cannot recover it again.</p>
        </div>
        <div class="ModalBtn" (click)="ModalAction('Deleted')">
          <p>Done!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="SvgBg">
    <img src="../../../assets/Background.svg" />
  </div>
  <div
    class="Card"
    [ngStyle]="{
      filter: IsBlur ? 'blur(6px)' : 'blur(0px)'
    }"
  >
    <div class="Display">
      <div [ngSwitch]="Component">
        <div *ngSwitchCase="'Timer'">
          <app-timer [Timer]="DisplayTimer"></app-timer>
        </div>
        <div *ngSwitchCase="'Task'">
          <app-todo [Timer]="DisplayTimer" [Tasks]="CurrTasks"></app-todo>
        </div>
        <div *ngSwitchCase="'NoTaskFound'">
          <app-header></app-header>
        </div>
        <div *ngSwitchCase="'CreateTask'">
          <app-create-task></app-create-task>
        </div>
        <div *ngSwitchCase="'Analytics'">
          <app-analytics></app-analytics>
        </div>
        <div *ngSwitchCase="'PrevTasks'">
          <app-prev-tasks [Tasks]="PrevTasks"></app-prev-tasks>
        </div>
        <div *ngSwitchDefault>
          <app-create-task></app-create-task>
        </div>
      </div>
    </div>
    <div></div>

    <div class="Controller">
      <div
        [ngClass]="Component === 'Task' ? 'ControlBtn Active' : 'ControlBtn'"
        (click)="Clicked('Task')"
      >
        <div class="Border"></div>
        <div class="Text">
          <p>Tasks</p>
        </div>
      </div>
      <div
        [ngClass]="Component === 'Timer' ? 'ControlBtn Active' : 'ControlBtn'"
        (click)="Clicked('Timer')"
      >
        <div class="Border"></div>
        <div class="Text">
          <p>Timer</p>
        </div>
      </div>
      <div
        [ngClass]="Component === 'Analytics' ? 'ControlBtn Active' : 'ControlBtn'"
        (click)="Clicked('Analytics')"
      >
        <div class="Border"></div>
        <div class="Text">
          <p>Analytics</p>
        </div>
      </div>
      <div
        [ngClass]="Component === 'PrevTasks' ? 'ControlBtn Active' : 'ControlBtn'"
        (click)="Clicked('PrevTasks')"
      >
        <div class="Border"></div>
        <div class="Text">
          <p>Previous Tasks</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- [ngStyle]="{
    position: 'absolute',
    top: '-5%',
    left: '10%',
    transform: 'scaleX(1.2)',
    'z-index': '0',
    filter: IsBlur ? 'blur(6px)' : 'blur(0px)'
  }" -->
